.ch
{
border: 2px solid;
}
.container {
    height: 300px;
    display: grid;
    grid-template-columns: 200px auto auto auto auto;
    grid-template-rows: auto auto;
}
.dash{
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.ullist{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  
}

.ch1{
    height: 200vh;
    grid-row-start: 1;
    grid-row-end:6 ;
    background-color: rgb(82, 67, 67);

    background-size: cover;
}
.ch2{ height: 20vh;
    grid-column-start: 2;
    grid-column-end: 6;
    margin-left: 20px;
    background-color: rgb(240, 244, 243);
}
.ch3{height: 30vh;
margin: 50px 10px 20px 10px;
background-repeat: no-repeat;
background-size: cover;}
.ch4{height: 30vh;
    margin: 30px 10px 20px 10px;
    
    background-repeat: no-repeat;
    background-size: cover;}
.ch5{height: 30vh;
    margin: 50px 10px 20px 10px;
    
    background-repeat: no-repeat;
    background-size: cover;}
    .ch6{height: 30vh;
        margin: 30px 10px 20px 10px;
    
        background-repeat: no-repeat;
        background-size: cover;}

